<div style="margin-top: 100px; margin-left: 500px;">
    <button (click)="onRaiseTicket()" class="custom-button" style="margin-right: 100px;">Raise Ticket</button>
    <button routerLink="/customerticketShow" class="btn btn-primary">To View Tickets Raised</button>
</div>

  <!-- <div class="container-fluid w-50" >
    <div *ngIf="raiseValue" class="container-fluid w-75 mt-4 ml-5 custom-container">
      <form  #ticketregistration="ngForm" class="custom-form">
        <div class="input-container">
            <input type="text" placeholder="Enter The Subject" name="Subject" [(ngModel)]="Subject" class="form-control" required #name="ngModel">

            <div [hidden]="name.valid||name.pristine" class="alert alert-danger">
             Subject is Required
            </div>

            <input type="text" placeholder="Enter The Description" name="Description" [(ngModel)]="Description" class="form-control" required #names="ngModel">

            <div [hidden]="names.valid||names.pristine" class="alert alert-danger">
              Description is Required
             </div>

          </div>         
        <label for="priority"  class="custom-label">Priority</label>
        <select id="priority" name="priority" [(ngModel)]="priority" class="custom-select">
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
  
        <label for="category" class="custom-label">Category</label>
        <select id="category" name="categoryName"  [(ngModel)]="categoryName" class="custom-select">
          <option *ngFor="let option of categoryList" [value]="option.category_name">{{ option.category_name }}</option>
        </select>
  
        <br>
        <button type="submit" class="custom-button" [disabled]="!ticketregistration.form.valid" (click)="addedValue()">Submit</button>
      </form>
    </div>
  </div> -->

  
 <div class="container-fluid w-50" >
    <div *ngIf="raiseValue" class="container-fluid w-75 mt-4 ml-5 custom-container">
  <form  [formGroup]="ticketForm" (ngSubmit)="addedValue()"  class="form-control">
    <div class="input-container">

      <input type="text" placeholder="Enter The Subject" formControlName="subject"  class="form-control">
      <div class="valid" *ngIf="ticketForm.controls.subject.invalid && ticketForm.controls.subject.touched">
         Enter The Subject
      </div>
  <br>
      <input type="text" placeholder="Enter The Description"  class="form-control" formControlName="description" >
      <div class="valid" *ngIf="ticketForm.controls.description.invalid && ticketForm.controls.description.touched">
        Enter The Description
     </div>
     </div>
     
      <label for="priority"  class="custom-label" >Priority</label>
      <select id="priority" formControlName="priority" class="form-control" >
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
      </select>
      <div class="valid" *ngIf="ticketForm.controls.description.invalid && ticketForm.controls.description.touched">
        Enter The Priority
     </div>
      <label for="category" class="custom-label"  >Category</label>
        <select id="category" name="categoryName"  formControlName="categoryName"class="custom-select">
          <option *ngFor="let option of categoryList" [value]="option.category_name">{{ option.category_name }}</option>
        </select>
      <div class="valid" *ngIf="ticketForm.controls.description.invalid && ticketForm.controls.description.touched">
        Enter The Category
     </div> <br>
      <button style="margin-left: 50%;" class="btn btn-success"[disabled]="ticketForm.invalid">Submit</button>
  </form>
</div> 
</div>