<h5 style="text-align: center;">Tickets Assigined:</h5>
<table style="border-collapse: collapse;">
    <thead>
        <tr>
            <th >Ticket Id</th>
            <th >Subject</th>
            <th >Description</th>
            <th>Category</th>
            <th >Priority</th>
            <th >Status</th>
            <th>Show Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of tickets">
            <td >{{item.ticketId}}</td>
            <td >{{item.subject}}</td>
            <td>{{item.description}}</td>
            <td>{{item.categoryId.category_name}}</td>
            <td >{{item.priority}} </td>
            <td >{{item.status}}</td>
            <td><button (click)="get(item.ticketId)" style="border-radius: 20px;">Show Details</button></td>
        </tr>
        <h4 *ngIf="lengthTickets===0" style="text-align: center;margin-top: 10px;">No Tickets Has Be Assigined</h4>
    </tbody>
</table>
