<table style="border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th >Ticket Id</th>
        <th >Customer Name</th>
        <th >Subject</th>
        <th >Description</th>
        <th >Priority</th>
        <th >Status</th>
        <th >Creation Date</th>
        <th *ngIf="ticketDa.status!=='Closed'">Assign</th>
        <th *ngIf="ticketDa.status==='Closed'">Show More Details</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td >{{ ticketDa.ticketId }}</td>
        <td >{{ ticketDa.customer.username }}</td>
        <td >{{ ticketDa.subject }}</td>
        <td >{{ ticketDa.description }}</td>
        <td >{{ ticketDa.priority }}</td>
        <td >{{ ticketDa.status }}</td>
        <td >{{ ticketDa.creation_Date | date }}</td>
        <td  *ngIf="ticketDa.status!=='Closed'">
          <select id="" name="categoryName1" class="custom-select" #selectedOption style="width: 80px;">
            <option *ngFor="let option of agentData" [value]="option.agentName">{{ option.agentName }}</option>
          </select>
          <button (click)="Assgination(selectedOption.value)" style="border-radius: 40px;">Assign</button>
        </td>
        <td *ngIf="ticketDa.status==='Closed'"><button (click)="showMore()" style="border-radius: 20px;">Show Details</button> </td>
      </tr>
    </tbody>
  </table>

<div style=" background-color: #f0f0f0; border-radius: 5px;" class="container-fluid w-50">
  <div *ngIf="closedTicketDetails" class="ticket-details  mt-4" >
    <div style="display: flex; align-items: center; margin-left: 250px;">
      <label style="text-align: left; flex: 0 0 30%;">Closed Date:</label>
      <h6 style="text-align: left; flex: 0 0 70%;">{{ ticketDa.closedDate | date }}</h6>
    </div>
    <div style="display: flex; align-items: center; margin-left: 250px;">
    <label style="text-align: left; flex: 0 0 30%;">Satisfactory Rating:</label>
    <h6 style="text-align: left; flex: 0 0 70%;">{{ ticketDa.satisfactionRating }}</h6>
  </div>
  <div style="display: flex; align-items: center; margin-left: 250px;">
    <label style="text-align: left; flex: 0 0 30%;">Handled By:</label>
    <h6 style="text-align: left; flex: 0 0 70%;">{{ ticketDa.agentId.agentName }}</h6>
  </div>

<h5 style="text-align: center;" class="mt-2">Chats</h5>
    <div *ngFor="let item of chat;" style="display: flex; flex-direction: column;">

      <div class="column">
        <div class="row">
          <div class="col-6">
            <div style="align-self: flex-end; margin-top: 6px;" *ngIf="item.author === 'Agent' ">
              <label>{{ item.author }}:</label>
              <h6>{{ item.content }} <sub>{{item.timeStamp|date:'h:mm a'}}</sub></h6>
            </div>
          </div>
          <div class="col-6" >
            <div style="align-self: flex-start;margin-top: 6px;float: right;" *ngIf="item.author === 'Customer'">
              <label>{{ item.author }}:</label>
              <h6>{{ item.content }}</h6>
            </div>
          </div>
        </div>
      </div>
      
     
    </div>
    <div *ngIf="chat.length==0" style="text-align: center;">
      <b>No Chats Were There For This Ticket</b>
    </div>
    
    
  </div>
</div>
  <!-- style="text-align: left; flex: 0 0 70%;" -->
  <!--  style="text-align: left; flex: 0 0 30%;" -->

      <!-- <div *ngFor="let item of chat;" style="display: flex;flex-direction: column;">
      <div style="float: right;">
        <label *ngIf="item.author === 'Agent'">{{ item.author }}:</label>
        <h6  *ngIf="item.author === 'Agent'">{{ item.content }}</h6>
      </div>
      <div style="float: left;">
        <label style="text-align: left; flex: 0 0 30%;" *ngIf="item.author === 'Customer'">{{ item.author }}:</label>
        <h6 style="text-align: left; flex: 0 0 70%;" *ngIf="item.author === 'Customer'">{{ item.content }}</h6>
      </div>
    </div> -->