<h2 style="text-align: center;">Tickets Raised</h2>
<div style="display: flex; justify-content: space-between; align-items: center;">
  <button (click)="setfilter()" style="border-radius: 40px;">Filter Tickets:</button>
  <div class="right-div" style="display: flex; align-items: center;">
    <input type="text" class="form-control" placeholder="Enter the Ticket Id's Of the Tickets to be Searched"
      style="width: 420px; margin-left: 10px;" [(ngModel)]="searchtickId">
    <button (click)="searchTicket()" class="round-button">Search</button>
  </div>
</div>


<div *ngIf="filterOpen">
  <div style="display: flex;">
    <div class="input-radio">
      <input name="" type="radio" (click)="getFilter('Open')" name="selectHere">
      <label for="">Open</label>
    </div>
    <div class="input-radio">
      <input type="radio" (click)="getFilter('Assigned')" name="selectHere">
      <label for="">Assigined</label>
    </div>
    <div class="input-radio">
      <input type="radio" (click)="getFilter('Closed')" name="selectHere">
      <label for="">Closed</label>
    </div>
    <div class="input-radio" *ngIf="flag">
      <input type="radio" (click)="getFilter('')" name="selectHere">
      <label for="">View All</label>
    </div>
  </div>
</div>
<!-- BootStrap -->

<table class="table">
  <thead>
    <tr>

      <th class="column-100" scope="col">Ticket Id</th>
      <th class="column-100" scope="col">Subject</th>
      <th class="column-600" scope="col">Description</th>
      <th class="column-100" scope="col">Priority</th>
      <th class="column-100" scope="col">Status</th>
      <th class="column-100" scope="col">Handled By</th>
      <th class="column-100" scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data|dateorder | paginate:{
      itemsPerPage:tablesize,
      currentPage:page,
      totalItems:count 
  } ">
      <td class="column-80">{{ item.ticketId }}</td>
      <td class="column-250">{{ item.subject}}</td>
      <td class="description-cell column-600" style="width: 850px;">{{ item.description}}</td>
      <td class="column-100">{{ item.priority}}</td>
      <td class="column-100">{{ item.status}}</td>
      <td class="column-100">{{item.agentId?item.agentId.userName:'Not Assigined'}}</td>
      <td class="column-100"><button style="border-radius: 40px;" (click)="getMessageData(item.ticketId)">View
          Details</button></td>
    </tr>
  </tbody>
</table>
<div class="container" *ngIf="lengtharray == 0">
  <div class="center-content"  [innerHtml]="message">
  </div>
</div>
<div  *ngIf="searchBackButton===true">
  <button style="border-radius: 20px;" (click)="reloadPage()">Back</button>
</div>
<div *ngIf="lengtharray>10" style="text-align: center;">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onDatachange($event)">
  </pagination-controls>
</div>





















<!-- <div class="right-div" style="display: flex; align-items: center;">
  <input type="text" class="form-control" placeholder="Enter the Ticket Id's Of the Tickets to be Searched"
    style="width: 420px; margin-right: 10px;" [(ngModel)]="searchtickId">
  <button (click)="searchTicket()" class="round-button">Search</button>
</div> -->


<!-- <table>
  <thead>
    <tr>
      <th>Ticket Id</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Handled By</th>
      <th>Info</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | paginate:{
        itemsPerPage:tablesize,
        currentPage:page,
        totalItems:count 
    } |dateorder">
      <td>{{ item.ticketId }}</td>
      <td>{{ item.subject}}</td>
      <td>{{ item.description}}</td>
      <td>{{ item.priority}}</td>
      <td>{{ item.status}}</td>
      <td>{{item.agentId?item.agentId.agentName:'Not Assigined'}}</td>
      <td><button style="border-radius: 40px;" (click)="getMessageData(item.ticketId)">View Details</button></td>
    </tr>

  </tbody>
</table> -->
<!-- 
<div *ngIf="lengtharray>9">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onDatachange($event)">
  </pagination-controls>
</div> -->


















<!-- <div class="right-div" style="display: flex; align-items: center;">
  <input type="text" class="form-control" placeholder="Enter the Ticket Id's Of the Tickets to be Searched"
    style="width: 420px; margin-right: 10px;" [(ngModel)]="searchtickId">
  <button (click)="searchTicket()" class="round-button">Search</button>
</div> -->


<!-- <table>
  <thead>
    <tr>
      <th>Ticket Id</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Handled By</th>
      <th>Info</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data | paginate:{
        itemsPerPage:tablesize,
        currentPage:page,
        totalItems:count 
    } |dateorder">
      <td>{{ item.ticketId }}</td>
      <td>{{ item.subject}}</td>
      <td>{{ item.description}}</td>
      <td>{{ item.priority}}</td>
      <td>{{ item.status}}</td>
      <td>{{item.agentId?item.agentId.agentName:'Not Assigined'}}</td>
      <td><button style="border-radius: 40px;" (click)="getMessageData(item.ticketId)">View Details</button></td>
    </tr>

  </tbody>
</table> -->
<!-- 
<div *ngIf="lengtharray>9">
  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onDatachange($event)">
  </pagination-controls>
</div> -->