  th{
    padding: 10px;
     border: 1px solid #ddd; 
     background-color: green; 
     color: white;
     text-align: center;
  }
  td{
    padding: 10px;
     border: 1px solid #ddd;
     text-align: center;
  }
  .description-cell {
    max-width: 600px;
    word-wrap: normal;
  }


  .container-fluid {
    background-color: #f0f0f0;
  }
  
  .ticket-details {
    margin-top: 20px;
    padding: 10px;
  }
  
  .ticket-info {
    display: flex;
    align-items: center;
    margin-left: 250px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-left: 250px;
  }
  
  .chat-heading {
    text-align: center;
    margin-top: 20px;
  }

  .description-cell {
    word-wrap: break-word;
  }

  .assignment-cell {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
  }

  .assignment-cell select {
    width: 80px;
  }
  
  .chat-item {
    display: flex;
    flex-direction: column;
  }
  
  .agent-chat {
    align-self: flex-end;
    margin-top: 6px;
  }
  
  .customer-chat {
    align-self: flex-start;
    margin-top: 6px;
  }
  
  .column-100 {
    width: 100px; 
  }
  .column-200{
    width: 170px;
  }
  /* .column-150{
    width: 100px;
  } */

  .chat-scroll-container {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .column-600 {
      max-width: 600px;
      word-wrap: break-word;     
  }
  .column-150{
   width: 140px;
  }

  .no-chats {
    text-align: center;
    margin-top: 20px;
  }
  .chat-scroll-container {
    margin-left: 5px;
    max-height: 300px; /* Adjust the max height as needed */
    overflow-y: auto;
  }



