<table class="ticket-table">
    <thead>
        <tr>
            <th>Ticket Id</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Close Ticket</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ticket.ticketId}}</td>
            <td>{{ticket.subject}}</td>
            <td>{{ticket.description}}</td>
            <td><button style="border-radius: 40px;" (click)="closeTickets()">Close Tickets</button></td>
        </tr>
    </tbody>
</table>


<div class="chat-container">
    <div *ngFor="let item of chatContents" class="chat">
      <div *ngIf="item.author === 'Customer'" class="message customer-message" style="text-align: left;">
        <label for="">Customer:</label>
        <p class="message-text">{{item.content}}</p>
      </div>
      <div *ngIf="item.author === 'Agent'" class="message agent-message" style="text-align: right;">
        <label for="">Agent:</label>
        <p class="message-text">{{item.content}}</p>
      </div>
    </div>
  </div>


<div>
    <label for="Chat">Type Your Message Here:</label>
    <input class="message-input" type="text" name="chatContent" id="Chat" [(ngModel)]="chatContent">
    <button class="send-button" (click)="sendChat()">Submit</button>
</div>










