<div class="container-fluid w-25" style="margin-top: 10%;">
    <form class="custom-form" style="background-color: #eaeaea;">
      <div class="custom-input ">
        <input type="text" class="form-control" name="username" placeholder="Enter The User Name" [(ngModel)]="userName"><br>
        <input type="password" class="form-control" name="userpassword" placeholder="Enter The Password" [(ngModel)]="userpassword">
      </div>
      <button type="submit" class="custom-button" (click)="customerLogin()" >Submit</button>
    </form>
  </div>
  