<div class="right-div">
  <label for="">Search Here:</label>
  <input type="text" placeholder="Enter the Ticket Id's Of the Tickets to be Searched" style="width: 370px;"
    [(ngModel)]="searchtickId">
  <button (click)="getDetails(searchtickId)">Search</button>
</div>

<div>
  <div *ngIf="!all">
    <h2>{{data[0].categoryId.category_name}}</h2>
    <table class="ticket-table">
      <thead>
        <tr>
          <th>TICKET ID</th>
          <th>customerid</th>
          <th>DESCRIPTION</th>
          <th>priority</th>
          <th>status</th>
          <div class="button-container">
            <button (click)="onfilterHigh()">Filter High</button>
            <button (click)="onfilterlow()">Filter Low</button>
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.ticketId }}</td>
          <td>{{ item.customer.customerid }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.priority }}</td>
          <td>{{ item.status }}
            <select *ngIf="item.status=='open'" style="margin-left: 20px;">
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
            </select>

        </tr>

      </tbody>
    </table>
  </div>



  <div *ngIf="all">
    <h2>{{response.categoryId.category_name}}</h2>
    <table class="ticket-table">
      <thead>
        <tr>
          <th>TICKET ID</th>
          <th>customerid</th>
          <th>DESCRIPTION</th>
          <th>priority</th>
          <th>status</th>
          <div class="button-container">
            <button (click)="onfilterHigh()">Filter High</button>
            <button (click)="onfilterlow()">Filter Low</button>
          </div>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{ response.ticketId }}</td>
          <td>{{ response.customer.customerid }}</td>
          <td>{{ response.description }}</td>
          <td>{{ response.priority }}</td>
          <td>{{ response.status }}</td>
          <select *ngIf="response.status=='open'">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
          </select>
        </tr>

      </tbody>
    </table>
  </div>
</div>