
<!-- <form  [formGroup]="loginForm" (ngSubmit)="loginData()">
    <input type="text" placeholder="Enter The User Name" formControlName="username">
    <input type="text" placeholder="Enter The Password" formControlName="userpassword" style="margin-left: 20px;">
    <button style="margin-left: 50%;">Submit</button>
</form> -->
<form [formGroup]="loginForm" (ngSubmit)="loginData()" class="custom-form">
    <input type="text" placeholder="Enter The User Name" formControlName="username" class="custom-input">
    <input type="password" placeholder="Enter The Password" formControlName="userpassword" class="custom-input" style="margin-left: 20px;"><br>
    <button type="submit" class="custom-button">Submit</button>
  </form>