
  /* Add any additional styling as needed */
  
   
  .container {
    margin-bottom: 20px;
  }

  .center-div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left-div {
    display: flex;
    align-items: center;
  }

  .right-div {
    display: flex;
    align-items: center;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

  th {
    cursor: pointer;
    background-color: green;
    color: white;
  }

  th:hover {
    background-color: darkgreen;
  }

  .form-control {
    width: 420px;
    margin-right: 10px;
  }

  .round-button {
    border-radius: 35px;
    margin-top: 5px;
  }

  .details-button {
    border-radius: 35px;
    margin-top: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
  }

  .details-button i {
    margin-left: 5px;
  }

  .details-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .not-found {
    margin-top: 10px;
    text-align: center;
    color: red;
  } 

.sort-button {
  background-color: lightgreen;
  font-size: 12px; /* Adjust the font size as needed */
  padding: 2px 6px; /* Adjust the padding as needed */
  border-radius: 12px;
}

  .column-100 {
    width: 140px; 
  }
  .column-200{
    width: 180px;
  }
  
  .column-600 {
      max-width: 600px;
      word-wrap: break-word;     
  }
  .column-150{
   width: 180px;
  }
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "Offline";
    font-size: 12px;
    color: #fff;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.4s;
  }
  
  input[type="checkbox"]:checked + .slider {
    background-color: #4CAF50; /* Online color */
  }
  
  input[type="checkbox"]:checked + .slider:before {
    content: "Online";
    left: auto;
    right: 10px;
  }
  .container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 200px; /* Set a height if needed */
  }

  .center-content {
    text-align: center;

  }
