.input-radio{
  margin-left: 4px;
}
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }

  th,td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    cursor: pointer;
    background-color: green;
    color: white;
  }

  th:hover {
    background-color: darkgreen;
  }