<div class="container mt-5">
  <div class="ticket-details">
    <label for="">Ticket Id</label>
    <h6>{{sticket.ticketId}}</h6>
    <label for="">Subject</label>
    <h6>{{sticket.subject}}</h6>
    <label for="">Description</label>
    <h6 class="description-text">{{sticket.description}}</h6>
    <label for="">Created Time</label>
    <h6>{{sticket.creation_Date | date}}</h6>
    <label for="">Priority</label>
    <h6>{{sticket.priority}}</h6>
    <label for="">Status</label>
    <h6>{{sticket.status}}</h6>





    <div class="chat-scroll-container">
      <div *ngFor="let item of chatContents " class="chat">
        <div *ngIf="item.author === 'Customer'" class="message customer-message" style="text-align: right;">
          <label for="">Customer:</label>
          <p class="message-text">{{item.content}}</p> <sub >{{item.timeStamp |date:'h:mm a'}}</sub>
        </div>
        <div *ngIf="item.author === 'Agent'" class="message agent-message" style="text-align: left;">
          <label for="">Agent:</label>
          <p class="message-text">{{item.content}}</p><sub >{{item.timeStamp |date:'h:mm a'}}</sub>
        </div>
      </div>
    </div>
    <div class="input-container" *ngIf="sticket.status==='Assigned'">
      <input type="text" name="customerMessage" class="message-input" [(ngModel)]="customerMessage"
        placeholder="Type Your Message Here:" >
      <button class="send-button" (click)="AddComments()">Submit</button>
    </div>

  </div>


  <div class="rating-section" *ngIf="sticket.status==='Closed'">
    <label for="">Enter The Satisfactory Rating:</label>
    <input style="height: 40px;" type="number" [(ngModel)]="rating">
    <button (click)="setRating(rating)">Set Rating</button>
    <h5>{{message}}</h5>
  </div>
</div>